@model IEnumerable<Briefing.Models.Aluno>

<div class="container">

    <h2 class="title_container">Todos os Alunos da Cidade</h2>
    <a class="button_circle left" href="@Url.Action("Index")">
        <span class="material-icons">arrow_back</span>
    </a>
    <table id="table_alunos" class="content_table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Sexo</th>
                <th>Telefone</th>
                <th>Data de Cadastro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataCadastro)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
