
<div class="container">
    <div class="row">
        <a href="@Url.Action("Index","Alunos")" class="card">
            <div class="card_header">
                <h2>Cadastro de Alunos</h2>
            </div>
            <div class="card_footer">
                <p>Acessar</p>
            </div>
        </a>

        <a href="@Url.Action("Index","Cidades")" class="card">
            <div class="card_header">
                <h2>Cadastro de Cidades</h2>
            </div>
            <div class="card_footer">
                <p>Acessar</p>
            </div>
        </a>

        <a href="@Url.Action("Index","AlunosPorCidades")" class="card">
            <div class="card_header">
                <h2>Alunos por Cidade</h2>
            </div>
            <div class="card_footer">
                <p>Acessar</p>
            </div>
        </a>

        <a href="@Url.Action("Index","Relatorios")" class="card">
            <div class="card_header">
                <h2>Relatório</h2>
            </div>
            <div class="card_footer">
                <p>Acessar</p>
            </div>
        </a>

        <a href="@Url.Action("Index","Graficos")" class="card">
            <div class="card_header">
                <h2>Gráficos</h2>
            </div>
            <div class="card_footer">
                <p>Acessar</p>
            </div>
        </a>
    </div>

    <div id="chart">

    </div>
</div>


