@model IEnumerable<Briefing.Models.Aluno>

<div class="container">

    <h2 class="title_container">Todos os Alunos</h2>
    
    <a class="button_circle" href="@Url.Action("Create","Alunos")">
        <span class="material-icons">add</span>
    </a>
    <table id="table_alunos" class="content_table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Sexo</th>
                <th>Telefone</th>
                <th>Data de Cadastro</th>
                <th>Cidade</th>
                <th class="table_td_icons">Visualizar</th>
                <th class="table_td_icons">Editar</th>
                <th class="table_td_icons">Deletar</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataCadastro)</td>
                    <td>@Html.DisplayFor(modelItem => item.Endereco.Cidade.Nome)</td>
                    <td class="table_td_icons">
                        <a href="@Url.Action("Details","Alunos", new { id = item.Id})">
                            <span class="material-icons">
                                wysiwyg
                            </span>
                        </a>
                    </td>
                    <td class="table_td_icons">
                        <a href="@Url.Action("Edit","Alunos", new { id = item.Id})">
                            <span class="material-icons">
                                edit
                            </span>
                        </a>
                    </td>
                    <td class="table_td_icons">
                        <a href="@Url.Action("Delete","Alunos", new { id = item.Id})">
                            <span class="material-icons">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
