@model Briefing.Models.Cidade

<div class="container">
    @using (Html.BeginForm("Edit", "Cidades", FormMethod.Post))
    {
        <div class="form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.Id)

            <div class="form-title">
                <a class="button_circle_form left" href="@Url.Action("Index")">
                    <span class="material-icons">arrow_back</span>
                </a>
                <h2 class=''>Editar Cidade</h2>
            </div>

            <h2 class='field'>Cidade</h2>

            @Html.HiddenFor(model => model.Id, new { Name = "Aluno.Id" })

            <p class='field required half'>
                <label class='label required' for='nome'>Nome da cidade</label>
                <input class='text-input' id='nome' name='nome' required type='text' value='@Model.Nome'>
            </p>
            <p class='field required half'>
                <label class='label required' for='EstadoNome'>Nome do estado</label>
                <input class='text-input' id='EstadoNome' name='EstadoNome' required type='text' value='@Model.EstadoNome'>
            </p>
            <p class='field half'>
                <input class='button button-submit' type='submit' value='Enviar'>
            </p>
        </div>

    }
</div>
